# Node modules
node_modules

# subprojects
client/node_modules
web-client/node_modules
server/node_modules
admin/node_modules

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment
.env

# build
dist
build