/* FUNDO DA PÁGINA */
.page {
  min-height: 100vh;
  width: 100%;
  background: #4A148C;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 30px 20px;

  overflow-x: hidden;
}

/* TÍTULO */
.title {
  font-size: 36px;
  font-weight: 700;
  color: #f3f2f4;
  text-align: center;

  margin-bottom: 30px;
}

/* CONTAINER DO CARDÁPIO */
.cardapio-container {
  width: 100%;
  max-width: 900px;
}

/* LISTA */
.cardapio-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 16px;
}

/* CARD */
.produto-card {
  background: #ffffff;
  border-radius: 14px;
  padding: 18px;

  box-shadow: 0 4px 8px rgba(0,0,0,0.08);

  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: transform 0.15s ease;
}

/* Efeito hover */
.produto-card:hover {
  transform: translateY(-2px);
}

/* INFORMAÇÕES */
.produto-info {
  display: flex;
  flex-direction: column;
}

.produto-nome {
  font-size: 20px;
  color: #444;
  margin-bottom: 5px;
}

.produto-preco {
  font-size: 18px;
  font-weight: 600;
  color: #6A1B9A;
}

/* BOTÃO */
.add-btn {
  background: #6A1B9A;
  color: white;
  border: none;
  padding: 10px 14px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.add-btn:hover {
  background: #4A148C;
}
.carrinho-fixo {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);

  width: calc(100% - 40px);
  max-width: 500px;

  background: #00c853;
  color: white;

  border-radius: 40px;

  padding: 16px;

  font-weight: bold;
  font-size: 16px;

  border: none;

  box-shadow: 0 8px 25px rgba(0,0,0,0.25);

  z-index: 9999;

  cursor: pointer;
}