.dashboard {
  padding: 30px;
  font-family: Arial, sans-serif;
}

.dashboard h1 {
  margin-bottom: 20px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
  margin-bottom: 30px;
}

.card {
  padding: 20px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.recebido {
  background-color: #3498db;
}

.preparo {
  background-color: #f39c12;
}

.pronto {
  background-color: #2ecc71;
}

.entregue {
  background-color: #7f8c8d;
}

.cancelado {
  background-color: #e74c3c;
}

.total {
  background-color: #2c3e50;
}

select {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

table {
  border-collapse: collapse;
}

th {
  background: #2c3e50;
  color: white;
  padding: 10px;
}

td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

button {
  margin-right: 5px;
  padding: 6px 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  opacity: 0.85;
}
.pedido-card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);

  animation: fadeInUp 0.4s ease forwards;
  opacity: 0;
  transform: translateY(10px);
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.novo-pedido {
  border: 2px solid #22c55e;
  animation: pulseGreen 1.2s infinite;
}

@keyframes pulseGreen {
  0% {
    box-shadow: 0 0 0 0 rgba(34, 197, 94, 0.8);
  }
  70% {
    box-shadow: 0 0 0 14px rgba(34, 197, 94, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(34, 197, 94, 0);
  }
}
