.checkout-card {
  background: #121212; /* 🔥 preto moderno */
  border-radius: 16px;
  padding: 16px;
  margin-bottom: 16px;
  color: #fff;

  box-shadow: 0 6px 18px rgba(0,0,0,0.5);
  border: 1px solid rgba(255,255,255,0.05); /* 🔥 detalhe premium */
}
.checkout-input {
  background: rgba(255,255,255,0.1);
  border: none;
  color: #fff;
}

.checkout-input::placeholder {
  color: rgba(255,255,255,0.6);
}

.checkout-select {
  background: rgba(255,255,255,0.1);
  color: #fff;
}

.checkout-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.checkout-adicional {
  font-size: 12px;
  opacity: 0.8;
}

.checkout-acoes {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
